.noConversationText{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    top: 10%;
    font-size: 40px;
    color: #888;
}

.message-box{
    height: calc(100vh - 117px);
    overflow-y: scroll;
}

.send-icon{
    position: relative;
    left: -40px;
    border-radius: 50%;
    width: 40px;
    background-color: darkgrey;
    height: 40px;
}